.container-fluid
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Dashboard
    a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm href="#" 
      i.fa.fa-download.fa-sm.text-white-50
      | Generar Reporte

  .row
    .col-xl-3.col-md-6.mb-4
      .card.border-left-primary.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Cobro Pendiente (Este Mes)
              .h5.mb-0.font-weight-bold.text-gray-800= number_to_currency(@budget_month)
            .col-auto
              i.fa.fa-calendar.fa-2x.text-gray-300
    .col-xl-3.col-md-6.mb-4
      .card.border-left-success.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Ingresos (Este Mes)
              .h5.mb-0.font-weight-bold.text-gray-800= number_to_currency(@incomes_month)
            .col-auto
              i.fa.fa-usd.fa-2x.text-gray-300

    .col-xl-3.col-md-6.mb-4
      .card.border-left-primary.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Cobro Esperado (Hoy)
              .h5.mb-0.font-weight-bold.text-gray-800= number_to_currency(@budget_today)
            .col-auto
              i.fa.fa-calendar.fa-2x.text-gray-300

    .col-xl-3.col-md-6.mb-4
      .card.border-left-success.shadow.h-100.py-2
        .card-body
          .row.no-gutters.align-items-center
            .col.mr-2
              .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Ingresos (Hoy)
              .h5.mb-0.font-weight-bold.text-gray-800= number_to_currency(@incomes_today)
            .col-auto
              i.fa.fa-usd.fa-2x.text-gray-300
  .row
    .col-xl-3.col-md-6.mb-4
    .col-xl-6.col-md-6.mb-4
      .card.border-left-primary.shadow.h-100.py-2
        .card-body
          = line_chart @budget_real_data, {}
    .col-xl-3.col-md-6.mb-4
